setup.py
build/lib/tempavg.py
data/tempavg_data.zip
data/tempavg_data-main/tempavg.csv
dist/tempavg-1.0.2-py3-none-any.whl
dist/tempavg-1.0.2-py3.8.egg
dist/tempavg-1.0.2.tar.gz
src/tempavg.egg-info/dependency_links.txt
src/tempavg.egg-info/entry_points.txt
src/tempavg.egg-info/PKG-INFO
src/tempavg.egg-info/SOURCES.txt
src/tempavg.egg-info/top_level.txt
tempavg.egg-info/dependency_links.txt
tempavg.egg-info/entry_points.txt
tempavg.egg-info/PKG-INFO
tempavg.egg-info/SOURCES.txt
tempavg.egg-info/top_level.txt