dist/tempavg-1.0.3-py3-none-any.whl
dist/tempavg-1.0.3-py3.8.egg
dist/tempavg-1.0.3.tar.gz
src/tempavg.egg-info/dependency_links.txt
src/tempavg.egg-info/entry_points.txt
src/tempavg.egg-info/PKG-INFO
src/tempavg.egg-info/SOURCES.txt
src/tempavg.egg-info/top_level.txt
